@charset "utf-8";

/*********************
** VERY BIG DEVICES **
*********************/

@media screen and (min-width: 1200px){

    .container,
    .two-col {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

}
