/*
** Styling *****************
***** Zonnemeting website **
*/
/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* color scheme */
/* typography */
/* transitions */
/* settings */
/* import partials */
/***********************
*****   GENERAL    *****
***********************/
html {
  scroll-behavior: smooth; }

body {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke: 0.2px rgba(0, 0, 0, 0.5); }

#wrapper {
  min-width: 300px;
  width: 100%;
  position: relative; }

a {
  text-decoration: none;
  color: #000; }

#services,
#action,
#testimonial,
#contact-details,
#contact-form {
  padding-top: 60px;
  padding-bottom: 30px; }

#services,
#contact {
  background-color: #fff; }

.container {
  margin: 0 auto;
  position: relative; }

.logo {
  font-family: parkside, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 165%;
  letter-spacing: 1px;
  color: #fff;
  -webkit-text-stroke: 0.1px rgba(255, 255, 255, 0.5);
  transition: all 500ms ease;
  -webkit-user-select: none;
  /* Chrome + Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  font-variant-ligatures: contextual;
  -moz-font-feature-settings: "calt";
  -webkit-font-feature-settings: "calt";
  font-feature-settings: "calt"; }

.logo a {
  color: #fff;
  transition: all 500ms ease; }

.logo.dark a {
  color: #000;
  transition: all 500ms ease;
  -webkit-text-stroke: 0.1px rgba(0, 0, 0, 0.5); }

.logo span {
  color: #cfaa45;
  -webkit-text-stroke: 0.1px rgba(207, 170, 69, 0.5); }

h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 175%;
  margin-bottom: 30px;
  top: 0;
  position: relative; }

h3, h3 > a {
  font-family: "Raleway", sans-serif;
  color: #25313d;
  font-size: 105%; }

p {
  font-size: 14px;
  line-height: 1.7; }

#services article p, #testimonial p, .contact-form-label, .singlePageHeading p, .accordion p, .services-article p {
  color: rgba(0, 0, 0, 0.5); }

.fixed {
  position: fixed; }

.btn {
  display: block;
  background-color: #cfaa45;
  border: 1px solid #cfaa45;
  color: #fff;
  padding: 15px;
  text-align: center;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  width: 140px;
  align-self: center;
  position: relative;
  left: 0;
  top: 0;
  opacity: 0.9;
  cursor: pointer;
  transition: all 500ms ease;
  font-size: 100%;
  -webkit-text-stroke: 0.1px rgba(255, 255, 255, 0.5);
  outline: none; }

.btn::after {
  content: "\f054";
  font-family: "Font Awesome 5 Free";
  margin-left: 10px;
  position: relative;
  top: 1px;
  font-size: 100%; }

.btn:active,
.btn:hover {
  position: relative;
  left: 2px;
  background-color: #e3b536;
  opacity: 1.0;
  transition: all 500ms ease; }

/***********************
*****    HEADER    *****
***********************/
header {
  width: 100%;
  height: 50px;
  position: relative;
  z-index: 200;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)); }

.header-light {
  position: relative;
  background: #fff; }

h1 {
  text-align: center;
  position: absolute;
  right: 15px;
  top: 12px;
  z-index: 110; }

.nav {
  box-sizing: border-box;
  position: fixed;
  top: -210px;
  padding-top: 70px;
  width: 100%;
  height: 210px;
  z-index: 100;
  background-color: #fff;
  transition: all 500ms ease;
  border-bottom: 1px solid #cfaa45; }
  .nav li {
    margin-bottom: 5px;
    padding-left: 14px; }
    .nav li a {
      display: inline-block;
      padding: 10px 15px;
      font-family: "Ubuntu", sans-serif;
      font-weight: 500;
      color: #535457;
      text-transform: uppercase;
      transition: all 300ms ease; }
    .nav li a:active,
    .nav li a:hover,
    .nav li a:focus {
      background-color: #cfaa45;
      color: white;
      transition: all 300ms ease;
      outline: none; }

.mob-nav {
  position: relative;
  padding-left: 14px;
  display: flex;
  align-content: center;
  z-index: 110; }

.mob-nav-toggle {
  padding: 0;
  cursor: pointer;
  background: none;
  border: none;
  width: 25px;
  height: 20px;
  position: relative;
  top: 14px;
  outline: none; }

.mob-nav-toggle span,
.mob-nav-toggle span::after,
.mob-nav-toggle span::before {
  border-radius: 3px;
  height: 3px;
  width: 100%;
  background-color: #fff;
  display: block;
  content: "";
  position: absolute;
  transition: all 500ms ease; }

.header-light .mob-nav-toggle span,
.header-light .mob-nav-toggle span::after,
.header-light .mob-nav-toggle span::before {
  background-color: #000; }

.mob-nav-toggle span::before {
  top: -8px; }
.mob-nav-toggle span {
  top: 8px; }
.mob-nav-toggle span::after {
  top: 8px; }

/* mobile navigation: transition effects */
.mob-nav-on {
  position: fixed; }

.mob-nav-on span::before,
.mob-nav-on span::after {
  transform: rotate(-90deg);
  top: 0; }

.mob-nav-on span {
  transform: rotate(45deg);
  top: 8px; }

.mob-nav-on span::before,
.mob-nav-on span,
.mob-nav-on span::after {
  background-color: #cfaa45;
  transition: all 500ms ease; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 90;
  transition: all 500ms ease; }

/***********************
*****     HERO     *****
***********************/
#hero {
  width: 100%;
  height: 100vh;
  max-height: 600px;
  margin-top: -50px;
  overflow: hidden; }
  #hero .btn, #hero h2 {
    opacity: 0;
    top: 10px;
    transition: all 500ms ease-in; }
  #hero h2 {
    margin-bottom: 6rem;
    color: #fff;
    line-height: 1.3;
    font-weight: 300;
    font-size: 200%;
    padding: 0 10%;
    text-align: center;
    -webkit-text-stroke: 0.1px rgba(255, 255, 255, 0.5); }
  #hero a {
    text-align: center; }

.hero-container {
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-image: url(../images/hero/hero-bg1-1500px.jpg); }

/***********************
***** MAIN CONTENT *****
***********************/
/* Services section */
#services h2 {
  text-align: center; }
#services article::before,
#services article::after {
  content: "";
  display: block;
  background-color: #e5e7e9;
  position: absolute;
  left: 0;
  width: 75%;
  height: 75%; }
#services article::after {
  left: 25%;
  top: 25%; }
#services article {
  margin: 20px auto;
  min-height: 200px;
  position: relative; }
  #services article h3 a {
    font-weight: 800;
    text-align: center; }
  #services article h3 a:hover {
    color: #cfaa45;
    -webkit-text-stroke: 0.1px rgba(207, 170, 69, 0.5); }
  #services article p {
    -webkit-user-select: none;
    /* Chrome + Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none; }
#services article:hover::before,
#services article:hover::after {
  background-color: #cfaa45;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }
#services article:hover h3::after {
  width: 50%;
  margin: 21px auto; }
#services article:hover .services-body {
  padding-top: 23px;
  padding-bottom: 23px; }
#services h3 a,
#services article::before,
#services article::after,
#services article h3::after,
#services article .services-body,
#services h3 a:hover,
#services article:hover::before,
#services article:hover::after,
#services article:hover h3::after,
#services article:hover .services-body {
  transition: all 300ms ease; }
#services .container {
  width: 80%; }

.services-heading {
  font-weight: 800;
  text-align: center; }

.services-heading::before {
  display: block;
  font-size: 50px;
  color: #cfaa45;
  margin-bottom: 1rem; }

.services-heading::after {
  content: "";
  display: block;
  width: 20%;
  height: 2px;
  background-color: #cfaa45;
  margin: 14px auto; }

.services-body {
  height: 100%;
  padding: 30px;
  position: relative;
  left: 0;
  width: 100%;
  z-index: 50;
  background-color: #fff;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0);
  -moz-background-clip: padding;
  /* Firefox 3.6 */
  -webkit-background-clip: padding;
  /* Safari 4? Chrome 6? */
  background-clip: padding-box; }

.services-tuin::before {
  font-family: "Font Awesome 5 Free";
  content: "\f6c4"; }

.services-omgeving::before {
  font-family: "Font Awesome 5 Free";
  content: "\f5a0"; }

.services-binnen::before {
  font-family: "Font Awesome 5 Free";
  content: "\f015"; }

/* Testimational section */
#testimonial .container,
#action .container {
  width: 80%; }

#testimonial {
  background-color: #f2f3f8; }
  #testimonial .video-js {
    display: block;
    width: 100%;
    margin: 0 auto;
    border: 7px solid #fff;
    box-shadow: 1px 3px 12px 1px rgba(0, 0, 0, 0.1); }
  #testimonial .vjs-fullscreen {
    border: none;
    box-shadow: none; }
  #testimonial .vjs-big-play-button {
    border-radius: 3px;
    border-color: #cfaa45;
    background-color: #cfaa45;
    opacity: 0.9;
    transition: all 300ms ease; }
  #testimonial .vjs-big-play-button:hover {
    background-color: #e3b536;
    transition: all 300ms ease; }

q {
  font-size: 22px;
  font-style: italic;
  font-weight: 700;
  color: #25313d;
  line-height: 1.4;
  padding-left: 20px; }

.story {
  display: flex;
  margin: 30px 0 15px 0; }

.fa-comment {
  font-size: 45px;
  font-style: normal;
  opacity: 0.15;
  margin: 10px; }

/* How-to section */
#action {
  background-image: url(../images/bg/bg-grass.jpg);
  background-size: cover;
  color: #fff; }
  #action h3 {
    color: #dedede;
    margin: 5px 0;
    font-weight: 500;
    font-size: 120%; }
  #action article {
    display: flex;
    margin-bottom: 20px; }
  #action img {
    margin-right: 20px;
    width: 50px; }

/* Contact section */
#contact .container {
  width: 90%; }
#contact h3 {
  margin: 20px 0 10px 0;
  font-weight: 500; }
#contact form {
  overflow: hidden; }
#contact a, #contact a:focus, #contact a:active {
  color: #cfaa45; }
#contact a:hover {
  color: #25313d;
  -webkit-text-stroke: 0.1px rgba(37, 49, 61, 0.5); }
#contact a, #contact a:hover {
  transition: all 300ms ease; }
#contact textarea {
  overflow: auto;
  background-image: repeating-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 26px, rgba(0, 0, 0, 0.1) 27px);
  padding-top: 0px;
  height: 153px; }
#contact button {
  float: right;
  margin-right: 2px; }

.contact-form-nameField,
.contact-form-emailField,
.contact-form-textareaField {
  display: inline-block;
  margin: 0;
  width: 100%;
  padding: 8px 2px;
  height: 43px;
  position: relative; }

.contact-form-textareaField {
  height: 176px; }

.contact-form-input {
  z-index: 20;
  display: inline-block;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  resize: none;
  width: 100%;
  border-width: 0;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.5);
  line-height: 1.8;
  background-color: rgba(255, 255, 255, 0);
  position: relative; }

.contact-form-input:focus {
  outline: 0; }

.contact-form-label {
  position: absolute;
  top: 15px;
  font-size: 15px;
  z-index: 10; }

/* Error handling of contact forms */
.error {
  color: rgba(255, 0, 0, 0.9);
  font-size: 70%;
  text-align: right;
  display: none;
  margin-right: 2px; }

.error::before {
  font-family: "Font Awesome 5 Free";
  content: "\f071";
  font-weight: 600;
  margin-right: 4px; }

/* Feedback message */
.feedback {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 90%;
  text-align: center;
  padding: 20px 5%;
  background-color: #324454;
  position: fixed;
  left: 0;
  width: inherit;
  top: -88px;
  z-index: 300;
  color: #fff;
  animation: animateFeedback ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

@keyframes animateFeedback {
  0% {
    top: -88px; }
  10% {
    top: -88px; }
  20% {
    top: 0px; }
  80% {
    top: 0px; }
  100% {
    top: -88px; } }
/***********************
****     PAGES     *****
***********************/
.singlePageHeading {
  width: 100%;
  background-size: cover;
  padding: 75px 0;
  position: relative; }
  .singlePageHeading h2 {
    text-align: center;
    font-size: 250%;
    font-weight: 500; }
  .singlePageHeading p {
    text-align: center;
    font-style: italic;
    font-size: 100%;
    font-family: "Raleway", sans-serif;
    font-weight: 400; }
  .singlePageHeading h2, .singlePageHeading p {
    color: #fff;
    -webkit-text-stroke: 0.1px rgba(255, 255, 255, 0.5);
    padding: 0 5%;
    position: relative;
    top: 10px;
    opacity: 0;
    transition: all 500ms ease-in; }

.singlePageHeading.contactPage {
  background-image: url(../images/bg/bg-meeting-small.jpg); }

.singlePageHeading.servicesPage {
  background-image: url(../images/bg/bg-sunnygrass-small.jpg);
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply; }

.singlePageHeading.disclaimerPage,
.singlePageHeading.privacyPage {
  background-image: url(../images/bg/bg-coffee.jpg); }

.singlePageIntro {
  width: 80%;
  max-width: 800px;
  margin: 60px auto 0 auto; }
  .singlePageIntro p {
    padding-left: 10px; }

.accordion {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 0; }
  .accordion h3 {
    padding: 20px 35px 20px 10px;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    position: relative;
    margin-top: -1px;
    cursor: pointer; }
  .accordion h3::after {
    content: "+";
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 250%;
    font-weight: 300;
    font-family: "Raleway", sans-serif;
    color: #cfaa45; }
  .accordion p {
    padding: 0 10px;
    max-height: 0;
    -webkit-text-stroke: 0;
    overflow: hidden;
    transition: max-height 300ms ease; }
  .accordion p::before,
  .accordion p::after {
    content: "";
    display: block;
    height: 20px; }
  .accordion p.active {
    max-height: 500px;
    transition: max-height 750ms ease; }

.services-article {
  width: 85%;
  margin: 25px auto 50px auto;
  padding-top: 25px; }
  .services-article p {
    margin-bottom: 15px; }
  .services-article h3 {
    margin-bottom: 30px; }
  .services-article .btn {
    float: right;
    margin: 10px 0 20px 0;
    font-size: 95%; }

.services-image img {
  width: 100%;
  box-sizing: border-box; }

/***********************
*****   FOOTER    *****
***********************/
footer {
  background-color: #25313d;
  padding-top: 60px;
  clear: both; }
  footer h2 {
    margin-bottom: 1rem; }
  footer p, footer h3 {
    color: #dedede; }
  footer h3 {
    margin: 20px 0 10px 0;
    font-weight: 500; }
  footer p, footer a {
    font-size: 85%; }
  footer a {
    color: #fff; }
  footer a:hover {
    color: #cfaa45;
    -webkit-text-stroke: 0.1px rgba(207, 170, 69, 0.5); }
  footer a, footer a:hover {
    transition: all 500ms ease; }
  footer li {
    margin: 15px 0;
    font-weight: 500; }

.footer-descr {
  margin-bottom: 50px; }

/* Footer quick links */
.footer-ql {
  display: flex; }
  .footer-ql ul {
    margin-right: 30px; }
  .footer-ql ul:last-of-type {
    margin-right: 0; }
  .footer-ql a {
    line-height: 1.5; }
  .footer-ql a::first-line {
    margin-left: -15px; }
  .footer-ql a::before {
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    color: #cfaa45;
    margin-right: 15px;
    margin-bottom: 5px;
    display: block;
    float: left;
    position: relative;
    left: 0; }
  .footer-ql a:hover::before {
    left: 5px; }
  .footer-ql a::before, .footer-ql a:hover::before {
    transition: all 500ms ease; }

/* Footer contact */
footer .container {
  width: 90%; }

.footer-contact {
  display: flex; }

.telnr::before,
.mail::before {
  margin-right: 15px;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  color: #566677;
  font-size: 120%;
  position: relative;
  top: 1px; }

.telnr::before {
  content: "\f095"; }

.mail::before {
  content: "\f0e0"; }

/* Footer copyright */
.footer-copyright {
  text-align: center;
  padding-bottom: 20px; }

.footer-copyright::before {
  display: block;
  content: "";
  height: 1px;
  width: 90%;
  background-color: #566677;
  margin: 30px auto;
  position: relative; }

/* to top button */
#to-top {
  display: block;
  position: fixed;
  right: 25px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #566677;
  border: rgba(0, 0, 0, 0.25);
  box-shadow: 1px 3px 12px 2px rgba(0, 0, 0, 0.2);
  z-index: 120;
  cursor: pointer;
  bottom: -45px;
  transition: all 500ms ease; }

#to-top:hover {
  background-color: #cfaa45;
  transition: all 500ms ease; }

.fa-chevron-up span {
  font-size: 0; }

.fa-chevron-up {
  color: #fff;
  font-size: 18px;
  position: relative;
  top: 9px;
  left: 12px; }

/***********************
*****   404 PAGE   *****
***********************/
#errorpage {
  height: 100vh;
  background-image: url(../images/bg/bg-404.jpg);
  background-size: cover;
  background-position: center; }
  #errorpage #wrapper {
    width: 60%;
    max-width: 404px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  #errorpage .logo {
    position: relative;
    margin-top: 10px;
    font-size: 200%; }
  #errorpage .footer-copyright::before {
    content: none; }

.errorpage-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }
  .errorpage-content span {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 600%;
    border: 10px solid #000;
    color: #000;
    display: block;
    width: 180px;
    margin: 0 auto; }
  .errorpage-content p {
    font-size: 125%;
    margin-top: 30px;
    margin-bottom: 30px; }

/*****************
* MEDIUM DEVICES *
******************/
@media screen and (min-width: 480px) {
  .container {
    max-width: 500px; }

  header .container {
    max-width: none; }

  #hero h2 {
    padding: 0 10%; }

  #services article {
    max-width: 350px; }

  .singlePageHeading.contactPage {
    background-image: url(../images/bg/bg-meeting-med.jpg); }

  .singlePageHeading.servicesPage {
    background-image: url(../images/bg/bg-sunnygrass-med.jpg); }

  .footer-descr {
    width: 384px; }

  /* Feedback message */
  .feedback {
    top: -56px;
    font-size: 95%; }

  @keyframes animateFeedback {
    0% {
      top: -56px; }
    10% {
      top: -56px; }
    20% {
      top: 0px; }
    80% {
      top: 0px; }
    100% {
      top: -56px; } } }
@media screen and (min-width: 768px) {
  .logo {
    font-size: 200%; }

  .feedback {
    font-size: 100%; }

  .mob-nav {
    display: none; }

  .nav {
    display: block;
    position: absolute;
    top: 0;
    background-color: inherit;
    border-width: 0;
    height: auto;
    padding-top: 20px;
    padding-left: 20px; }
    .nav li {
      margin-bottom: 0;
      margin-right: 22px;
      display: inline;
      padding: 0; }
      .nav li a {
        color: #fff;
        -webkit-text-stroke: 0.1px rgba(255, 255, 255, 0.5);
        padding: 0; }
      .nav li a:hover {
        background-color: inherit;
        color: #cfaa45;
        -webkit-text-stroke: 0.1px rgba(207, 170, 69, 0.5); }

  .header-light .nav li a {
    color: #000;
    -webkit-text-stroke: 0.1px rgba(0, 0, 0, 0.5); }
  .header-light .nav li a:hover {
    color: #cfaa45;
    -webkit-text-stroke: 0.1px rgba(207, 170, 69, 0.5); }

  .container {
    max-width: none; }

  .services-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }

  #services article {
    margin: 10px; }

  .two-col,
  #contact > .container {
    display: flex;
    width: 100%; }

  #contact > .container {
    width: 90%; }

  #testimonial, #action {
    flex-basis: 50%; }

  #contact-details {
    flex-basis: 34%;
    margin-right: 8%; }

  #contact-form {
    flex-basis: 58%; }

  footer .two-col {
    justify-content: flex-end; }
    footer .two-col section {
      flex-basis: auto;
      margin-left: 60px; }

  footer .container {
    width: 90%; }

  .services-article {
    max-width: 800px; }
    .services-article .btn {
      margin-bottom: 0; }

  .services-image {
    max-width: 970px;
    margin-left: auto;
    margin-right: auto; }

  .services-article-body {
    columns: 2;
    column-gap: 40px;
    column-rule: 2px dotted rgba(0, 0, 0, 0.1); } }
/*****************
** BIG  DEVICES **
******************/
@media screen and (min-width: 992px) {
  .contact-form-nameField {
    width: 35%; }

  .contact-form-emailField {
    width: 60%;
    float: right;
    margin-top: 0; }

  .footer-descr {
    float: left;
    width: 250px; }

  footer .two-col {
    width: auto; }

  .services-image img {
    border: 7px solid #fff;
    box-shadow: 1px 3px 12px 1px rgba(0, 0, 0, 0.1); } }
/*********************
** VERY BIG DEVICES **
*********************/
@media screen and (min-width: 1200px) {
  .container,
  header .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }

  #hero {
    margin-top: -50px; }
    #hero h2 {
      font-weight: 400; }

  .hero-container {
    background-image: url(../images/hero/hero-bg1-2000px.jpg); }

  #services article {
    width: 310px; }

  .singlePageHeading.contactPage {
    background-image: url(../images/bg/bg-meeting-big.jpg); }

  .singlePageHeading.servicesPage {
    background-image: url(../images/bg/bg-sunnygrass-big.jpg); }

  #contact {
    width: 100%; }

  #contact-details {
    flex-basis: 50%;
    margin: 0; }
    #contact-details .container {
      float: right;
      margin-right: 60px;
      width: 480px; }

  #contact-form {
    flex-basis: 50%;
    margin: 0; }
    #contact-form .container {
      float: left;
      margin-left: 60px;
      width: 480px; }

  .full-width {
    max-width: none; }

  #testimonial .container {
    float: right;
    margin-right: 60px;
    width: 480px; }

  #action .container {
    float: left;
    margin-left: 60px;
    width: 480px; } }

/*# sourceMappingURL=zonnemeting.css.map */
